.text-transform-none {
    text-transform: none !important;
}

.hidden-form-element {
    position: absolute;
    top: -9999px;
}

#edit-review-form textarea {
    height: 50vh;
}

.flex {
    display: flex;
}

#content img {
    display: block;
    margin: auto;
}

.yellow-svg svg {
    filter: invert(89%) sepia(86%) saturate(923%) hue-rotate(358deg) brightness(102%) contrast(109%);
}
.yellow-svg polygon {
    fill: black;
}

.yellow-svg-temp svg {
    filter: invert(89%) sepia(86%) saturate(923%) hue-rotate(358deg) brightness(102%) contrast(109%) !important;
}
.yellow-svg-temp polygon {
    fill: black !important;
}
.clear-svg-temp svg {
    filter: none !important;
}
.clear-svg-temp polygon {
    fill: none !important;
}

#hits {
    min-height: 65vh;
}
#hits .ais-Hits-item {
    padding: 10px;
}
#pagination .ais-Pagination {
    display: flex;
    justify-content: center;
}
#pagination .ais-Pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
}