.text-transform-none {
    text-transform: none !important;
}

.hidden-form-element {
    position: absolute;
    top: -9999px;
}

#edit-review-form textarea {
    height: 50vh;
}

.flex {
    display: flex;
}

#content img {
    display: block;
    margin: auto;
}

.yellow-svg svg {
    filter: invert(89%) sepia(86%) saturate(923%) hue-rotate(358deg) brightness(102%) contrast(109%);
}
.yellow-svg polygon {
    fill: black;
}

.yellow-svg-temp svg {
    filter: invert(89%) sepia(86%) saturate(923%) hue-rotate(358deg) brightness(102%) contrast(109%) !important;
}
.yellow-svg-temp polygon {
    fill: black !important;
}
.clear-svg-temp svg {
    filter: none !important;
}
.clear-svg-temp polygon {
    fill: none !important;
}

#hits {
    min-height: 65vh;
}
#hits .ais-Hits-item {
    padding: 10px;
}
#pagination .ais-Pagination {
    display: flex;
    justify-content: center;
}
#pagination .ais-Pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
}

#tags-cloud-modal .uk-modal-header {
    height: 10%;
}
#tags-cloud-modal .uk-modal-body {
    height: 90%;
}

#tags-cloud span:hover {
    cursor: pointer;
    text-decoration: underline;
}
#tags-cloud .w1 {
    font-size:  1.5em;
}
#tags-cloud .w2 {
    font-size: 2em;
}
#tags-cloud .w3 {
    font-size: 3em;
}
#tags-cloud .w4 {
    font-size: 4em;
}
#tags-cloud .w5 {
    font-size: 5em;
}
#tags-cloud .w6 {
    font-size: 6em;
}
#tags-cloud .w7 {
    font-size: 7em;
}
#tags-cloud .w8 {
    font-size: 8em;
}
#tags-cloud .w9 {
    font-size: 9em;
}
#tags-cloud .w10 {
    font-size: 10em;
}

mark {
    border-radius: 10px;
}

.uk-modal-dialog .uk-button,
.uk-notification-message {
    border-radius: 5px;
}

.uk-slideshow .uk-slidenav {
    color: black;
}
.uk-slideshow .uk-slidenav:hover {
    color: gray;
}
.uk-slideshow .uk-icon {
    color: black;
}

.see-also-panel .review-card {
    min-width: 265px;
}

.awesomplete {
    width: 100%;
}