@model BaseViewModel

<header>
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/">Leisure Reviews</a>
                </div>
                <div class="uk-navbar-right">
                    <div>
                        <a href="" class="search-button uk-icon-button" uk-icon="search"></a>
                    </div>
                    <!-- MOBILE -->
                    <a class="uk-navbar-toggle uk-navbar-toggle-animate d-flex d-md-none" uk-navbar-toggle-icon href="#"></a>
                    <div class="uk-navbar-dropdown text-center">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            @if (Model.IsAuthorized)
                            {
                                <li class="uk-nav-header text-transform-none">@Model.CurrentUser.UserName</li>
                                <li><a href="/Profile/@Model.CurrentUser.UserName">Profile</a></li>
                                <li class="uk-nav-divider"></li>
                                <li>
                                    @using (Html.BeginForm("SignOut", "Account", FormMethod.Get))
                                    {
                                        <input type="submit" class="uk-button uk-button-danger uk-border-rounded" value="sign out" />
                                    }
                                </li>
                            }
                            else
                            {
                                <li>
                                    @using(Html.BeginForm("SignIn", "Account", FormMethod.Get))
                                    {
                                        <input type="submit" class="uk-button uk-button-primary uk-border-rounded" value="sign in" />
                                    }
                                </li>
                                <li class="mt-2">
                                    @using (Html.BeginForm("SignUp", "Account", FormMethod.Get))
                                    {
                                        <input type="submit" class="uk-button uk-border-rounded" value="sign up" />
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    
                    <!-- PC -->
                    <ul class="uk-nav uk-navbar-nav d-none d-md-flex text-center align-items-center">
                        @if (Model.IsAuthorized)
                        {
                            <li>
                                <a href="#" class="text-transform-none"><span uk-icon="user"></span> <span id="user-name">@Model.CurrentUser.UserName</span> <span uk-navbar-parent-icon></span></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="/Profile/@Model.CurrentUser.UserName">Profile</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li>
                                            @using (Html.BeginForm("SignOut", "Account", FormMethod.Get))
                                            {
                                                <input type="submit" class="uk-button uk-button-danger uk-border-rounded" value="sign out" />
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                @using (Html.BeginForm("SignIn", "Account", FormMethod.Get))
                                {
                                    <input type="submit" class="uk-button uk-button-primary uk-border-rounded" value="sign in" />
                                }
                            </li>
                            <li>
                                @using (Html.BeginForm("SignUp", "Account", FormMethod.Get))
                                {
                                    <input type="submit" class="uk-button uk-border-rounded" value="sign up" />
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div id="search-modal" uk-modal bg-close="false">
    <div class="uk-modal-header uk-border-rounded">
        <button class="uk-modal-close-default m-2" type="button" uk-close></button>
        <div class="uk-inline uk-width-expand mt-4">
            <span class="uk-form-icon" uk-icon="search"></span>
            <input class="uk-input uk-border-rounded" id="search-input" placeholder="Search...">
        </div>
    </div>
    <div class="uk-modal-dialog uk-border-rounded uk-modal-body mt-2 w-100 p-0">
        <div id="hits" class="m-0 uk-border-rounded"></div>
        <div id="pagination" class="mt-4"></div>

        <div class="text-center m-4">
            <a href="https://www.algolia.com/" target="_blank">
                Search by
                <img src="~/res/Algolia-logo-blue.png" alt="algolia" style="height: 20px" />
            </a>
        </div>

        <div id="hit-template" style="display: none">
            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand uk-text-left">
                <h3 class="mb-1 mt-3" id="title"></h3>
                Leisure: <b id="leisure"></b>
            </a>
        </div>
    </div>
</div>