@model PagesViewModel

@if (Model.PagesCount > 1)
{
    <ul class="uk-pagination justify-content-center">
        @if (Model.Page > 0)
        {
            <li><a href="?page=@(Model.Page - 1)&pageSize=@Model.PageSize"><span uk-pagination-previous></span></a></li>
        }
        @for (int i = 0; i < Model.PagesCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="uk-background-secondary uk-border-rounded uk-disabled"><a href="?page=@i&pageSize=@Model.PageSize">@(i + 1)</a></li>
            }
            else
            {
                <li><a href="?page=@i&pageSize=@Model.PageSize">@(i + 1)</a></li>
            }
        }
        @if (Model.Page < Model.PagesCount - 1)
        {
            <li><a href="?page=@(Model.Page + 1)&pageSize=@Model.PageSize"><span uk-pagination-next></span></a></li>
        }
    </ul>
}