@using AspNet.Security.OAuth.Vkontakte;
@using Microsoft.AspNetCore.Authentication.Google;
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="uk-card uk-card-default uk-width-large uk-border-rounded">
        <div class="uk-card-header">
            <h3>SIGN IN</h3>
        </div>
        <div class="uk-card-body">
            <form id="default-form" asp-action="SignIn" asp-controller="Account" method="post" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]">
                <div class="validation" asp-validation-summary="All"></div>

                <label class="uk-form-label">Username</label>
                <input class="uk-input uk-border-rounded" name="username" asp-for="Username" type="text" />

                <label class="uk-form-label mt-4">Password</label>
                <input class="uk-input uk-border-rounded" name="password" asp-for="Password" type="password" />

                <label class="mt-4"><input class="uk-checkbox" type="checkbox" asp-for="RememberMe" /> Remember me</label>

                <button type="submit" id="sign-in-button" class="uk-button uk-border-rounded mt-2 w-100">
                    <div id="button-text">sign in</div>
                    <div id="button-spinner" uk-spinner style="display: none"></div>
                </button>
            </form>
            <div class="uk-divider-icon"></div>
            <div class="d-flex justify-content-center align-items-center gap-4">
                <form asp-action="ExternalSignIn" asp-controller="Account">
                    <input type="hidden" name="scheme" value="@GoogleDefaults.AuthenticationScheme" />
                    <button type="submit" class="uk-icon-button uk-button-primary" uk-icon="google" uk-tooltip="Sign in with Google account"></button>
                </form>
                <form asp-action="ExternalSignIn" asp-controller="Account">
                    <input type="hidden" name="scheme" value="@VkontakteAuthenticationDefaults.AuthenticationScheme" />
                    <button type="submit" class="uk-icon-button uk-button-primary" uk-icon="vk" uk-tooltip="Sign in with VK id"></button>
                </form>
            </div>
            <div class="mt-2">
                Don't have an account?
                @Html.ActionLink("SIGN UP", "SignUp", new { returnUrl = Context.Request.Query["returnUrl"]})
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/account.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
